/* ||UTILITY CLASSES */

.offscreen{
    position: absolute;
    left: -10000px;
}

.nowrap{

    white-space: nowrap;
}

.center{
    text-align: center;
    margin-top: 40px;
    font-weight: bold;

}
